/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "flowbite/src/themes/default";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@theme {
  --color-main: #0aad0a;
  --color-light: #f0f3f2;
  --color-rating: #ffc908;
  --shadow-main: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --font-main: "Encode Sans Expanded", sans-serif;
  --color-rating: #ffc908;
}
:root {
  --main-color: #0aad0a;
  --light-color: #f0f3f2;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --font-family: "Encode Sans Expanded", sans-serif;
}
@layer components {
  .main-btn {
    @apply bg-main mt-5 py-2 px-5 rounded-lg w-full text-white translate-y-full opacity-0 transition duration-700 group-hover:translate-y-0 group-hover:opacity-100 hover:cursor-pointer hover:bg-main/80;
  }
}
